* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@mixin buttonEffects {
  border: none;
  background-color: #ff0000;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

@mixin hoverButton {
  background-color: rgb(0, 255, 0);
  box-shadow: 0 0 10px #00000056;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  button {
    @include buttonEffects;
    transition: 0.2s all;
  }
  button:hover {
    @include hoverButton;
  }
}
